#footer {
	background-color: $brand-bg-footer-color;
	color: $brand-color-3;
	padding-bottom: 0;

	.nav-item > a {
		color: $brand-color-3;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#footer-recursive {
	background-color: $brand-bg-footer-color;
	font-family: 'open_sanssemibold';
}