.portlet-decorate .portlet-content {
	border: 1px solid #DEEEEE;
	margin-bottom: 15px;
}

.portlet-solid .portlet-content {
	background-color: #FFF;
	margin-bottom: 15px;
}

.portlet-barebone .portlet-content {
	padding: 0;
	margin-bottom: 15px;
}